body {
    color: #f8f8ab;
}

body main {
    color: black;

}


aside {
    float: left;
    background: white;
    width: 30%;
    padding: 2.5%;
    height: 500vh;
    color: #000000;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;

}

aside h3 {
  font-size: 30px;
    margin-top: 50px;
}

aside li{
    list-style: none;
    margin-top: 50px;
    display: block;

}

aside ul {list-style: none}

aside ul li {
    color: black;

}


main .features h1{
    font-size: 70px;
    margin-left: 350px;
    color: black;
    text-align: center;
    width: 75%;
}





main .features li h2{

    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

main .features li h4{

    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

main .features li{list-style: none}

main .features li p{
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

.alert-warning{
    width: 400px;
    margin: 40px 50%;
    text-align: center;
}

form {
    margin-top: 70px;
    width: 500px;
    margin-left: 50%;
    text-align: center;
}